<!-- BEGIN container_info_ajax_target -->
<div class="text-center">
	<div id="container_info_ajax_target">
	<p class="text-left small">{CONTAINER_INFO_LOAD_INFO}</p>
		<a id="container_info_ajax_load_btn" class="btn btn-default ajax_btn">{CONTAINER_INFO_LOAD_BTN}</a>
		<input id="container_info_cmd_node" type="hidden" value="{CONTAINER_INFO_AJAX_LINK}">
	</div>
	<div id="container_info_loading_div" class="hidden">
		<img class="block" src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/ContainerInfo/templates/images/rings.svg">
	</div>
</div>
<!-- END container_info_ajax_target -->